body {
    background-color: #000000;
    color: white;
    font-size: 1.4vh;
    margin: 0 0 0 10px;
    padding: 0;
}

#nameBig {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 8vh;
    color: #81D4FA;
}

.mobileBreak {
    display: none;
}

#nameSmall {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.3vh;
}

#sideDescription {
    font-family: 'JetBrains Mono', monospace;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    padding-top: 20px;
    font-size: 2vh;
}

ol {
    list-style-type: cjk-ideographic;
    margin-left: 2%;
}

li {
    margin-top: 25px;
    font-size: 1.8vh;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
}

.link {
    width: 90%;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .18s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.link:hover::after {
    height: calc(100% + 8px)
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 33%;
}

@media screen and (max-width: 1090px) {
    .column {
        flex: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .mobileBreak {
        display: flex;
    }
}
